CompileFlags:
  Add:
    - "-Wall"
    - "-Wextra"
  Remove:
    - "-W*"  # Remove all warning flags, we'll add our own above

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader: ["boost/test/.*", "__chrono/.*"]

Index:
  Background: Build
