Checks: >
  cert-*,
  performance-*,
  modernize-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers
CheckOptions:
  # example of setting a check option
  - key: readability-identifier-length.MinLength
    value: 3
HeaderFilterRegex: "^.*\/stlab\/.*$"
WarningsAsErrors: "*"
