# Ignore everything, explicitly add files.
# May improve layer caching during development
# https://stackoverflow.com/a/45929376
*
!assets
!cmake
!CMakeLists.txt
# Demanded by cmake
!LICENSE
!stlab
!test