{% if page.fields %}
  <h3>Member Fields</h3>
  <table class='definition-table'>
    <tr class='headers'>
      <th>Field</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
    {% for type in page.fields %}
      <tr>
        <td class='field'>{{ type[0] }}</td>
        <td class='decl'>{{ type[1].type | escape }}</td>
        {% if type[1].description or type[1].annotation %}
          <td class='defn'>
            {{ type[1].description | markdownify }}
            {% if type[1].annotation %}
              <span class='annotation'>({{ type[1].annotation | join: ", " }})</span>
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endif %}
