{% include derive_family.html %}

{% assign functions = siblings | where_exp:"p","p.layout == 'function'" | sort: "title" %}

{% if functions.size > 0 %}
<h3>Functions</h3>
<table class='associated-table'>
  {% for p in functions %}
    <tr>
        <td class='name'>
          <div><a href="{{p.url}}">{{ p.title | escape }}</a></div>
        </td>
        <td class='brief'>
            {% if p.brief %}
                {{ p.brief | markdownify }}
            {% elsif p.description %}
                {{ p.description | markdownify }}
            {% else %}
                {{ '_No details given_' | markdownify }}
            {% endif %}
            {% if p.annotation %}
                <span class='annotation'>({{p.annotation | join: ", "}})</span>
            {% endif %}
        </td>
    </tr>
  {% endfor %}
</table>
{% endif %}

