{% include derive_family.html %}

{% assign functions = siblings | where_exp:"p","p.layout == 'free-function'" %}

{% if functions.size > 0 %}
<h3>Associated Functions</h3>
<table class='definition-table'>
  {% for p in functions %}
    {% assign short_url = p.url | remove_first: page.url %}
    <tr>
        <td class='decl'>
          <div><a href="{{short_url}}">{{ p.pure-name }}</a></div>
        </td>
        <td class='defn'>
            {% if p.brief %}
                {{ p.brief | markdownify}}
            {% elsif p.description %}
                {{ p.description | markdownify}}
            {% else %}
                {{ '_No details given_' | markdownify}}
            {% endif %}
            {% if p.annotation %}
                <span class='annotation'>({{p.annotation}})</span>
            {% endif %}
        </td>
    </tr>
  {% endfor %}
</table>
{% endif %}

