{% include derive_family.html %}

{% assign methods = siblings | where_exp:"p","p.layout == 'method'" %}

{% assign ctor_name = page.title %}
{% assign dtor_name = "~" | append: page.title %}

{% if page.ctor != 'unspecified' or page.dtor != 'unspecified' or methods.size > 0 %}
<h3>Member Functions</h3>
{% endif %}

<table class='definition-table'>

{% for p in methods %}
  {% if p.is_ctor %}
    <tr>
        <td class='decl' colspan='2'><a href='{{p.url}}'>(constructor)</a></td>
    </tr>
  {% endif %}
{% endfor %}

{% for p in methods %}
  {% if p.is_dtor %}
    <tr>
        <td class='decl' colspan='2'><a href='{{p.url}}'>(destructor)</a></td>
    </tr>
  {% endif %}
{% endfor %}

{% for p in methods %}
  {% if p.is_ctor or p.is_dtor %}
    {% continue %}
  {% endif %}

  <tr>
    <td class='decl'>
      <div><a href="{{p.url}}">{{ p.title | escape }}</a></div>
    </td>
    <td class='defn'>
      {% if p.brief %}
        {{ p.brief | markdownify}}
      {% elsif p.description %}
        {{ p.description | markdownify}}
      {% else %}
        {{ '_No details given_' | markdownify}}
      {% endif %}
      {% if p.annotation %}
        <span class='annotation'>({{p.annotation | join: ", "}})</span>
      {% endif %}
    </td>
  </tr>
{% endfor %}
</table>

