{% include derive_family.html %}

{% assign libraries = siblings | where_exp:"p","p.layout == 'library'" %}

{% if libraries.size > 0 %}
<h3>Sub-libraries</h3>
<ul>
    {% for p in libraries %}
        {% assign short_url = p.url | remove_first: page.url %}
        <li class='declaration-list'>
            <code><a href="{{short_url}}index.html">{{ p.title }}</a></code>
            &mdash;
            {% if p.brief %}
                {{ p.brief | markdownify}}
            {% elsif p.description %}
                {{ p.description | markdownify}}
            {% else %}
                {{ '_No details given_' | markdownify}}
            {% endif %}
            {% if p.annotation %}
                <span class='annotation'>({{p.annotation}})</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}
