{% include derive_family.html %}

{% assign classes = siblings | where_exp:"p","p.layout == 'class'" %}
{% assign functions = siblings | where_exp:"p","p.layout == 'free-function'" %}

{% assign total = '' | split: '' %}

{% for p in classes %}
    {% assign total = total | push: p %}
{% endfor %}

{% for p in functions %}
    {% assign total = total | push: p %}
{% endfor %}

{% assign sorted = total | sort: 'pure-name' %}

{% if sorted.size > 0 %}
<ul>
  {% for p in sorted %}
    {% assign short_url = p.url | remove_first: page.url %}
    <li class='declaration-list'>
        <code><a href="{{short_url}}">{{ p.pure-name }}</a></code>
        &mdash;        
        {% if p.brief %}
            {{ p.brief | markdownify }}
        {% elsif p.description %}
            {{ p.description | markdownify }}
        {% else %}
            {{ '_No details given_' | markdownify }}
        {% endif %}
        {% if p.annotation %}
            <span class='annotation'>({{p.annotation}})</span>
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% endif %}
