{% unless family %}
    {% assign family = site.pages | where_exp:"p","p.url contains page.url" %}
    {% assign family = family | where_exp:"p","p.url != page.url" %}
{% endunless %}

{% unless siblings %}
    {% assign siblings = '' | split: '' %}
    {% for p in family %}
        {% assign short_url = p.url | remove_first: page.url%}
        {% assign split_url = short_url | split: '/' %}
        {% if split_url.size != 1 %}
            {% continue %}
        {% endif %}
        {% assign siblings = siblings | push: p %}
    {% endfor %}
{% endunless %}
