{% comment %}
    Unfortunately indenting the liquid here affects the code captured, so
    everything has to be left-aligned.
{% endcomment %}

{% assign __example_lang = include.language | default: 'c++' %}

{% if include.name %}
{% capture __example_mdown %}
~~~ {{__example_lang}}
{% include_relative {{include.name}} %}
~~~
{% endcapture %}
{% endif %}

{% if __example_mdown %}
    {% if include.header %}
        <h3>{{include.header}}</h3>
    {% endif %}
    {{ __example_mdown | markdownify }}
{% endif %}

{% assign __example_mdown = nil %}
{% assign __example_lang = nil %}
