<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }} &mdash; {{ site.subtitle }}</h2>
    <table class='footer-table'>
        <tr>
            <td class='footer-left'>
                Page owner(s):
                {% for o in page.owner %}
                    <a href='https://git.corp.adobe.com/{{o}}'>{{o}}</a>&nbsp;
                {% endfor %}
            </td>
            <td class='footer-center'>
            </td>
            <td  class='footer-right'>
                Last updated: {{ site.time }}
            </td>
        </tr>
    </table>
  </div>
</footer>
