---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {% for entity in page.entities %}
        <a name="{{ entity.name | replace: '_', '-' }}">{{ entity.name }}</a>
        {% case entity.kind %}
          {% when 'type-function' %}
            <h2>Type Function</h2>
            {% highlight cpp %}{{ entity.declaration }}{% endhighlight %}
            <h3>Parameters</h3>
            {% for parameter in entity.parameters %}
                {% capture param %}`{{ parameter.name }}`: {{ parameter.description }}
                {% endcapture %}
                {{ param | markdownify }}
            {% endfor %}
            <h3>Result</h3>
            {% capture result %}`{{ entity.result.name }}`: {{ entity.result.description }}
            {% endcapture %}
            {{ result | markdownify }}
            <h3>See</h3>
            {% for item in entity.see %}
                {% capture link %}[`{{ item }}`](#{{ item | replace: '_', '-' }}){% endcapture %}
                {{ link | markdownify }}
            {% endfor %}
          {% when 'free-functions' %}
            <h3>Functions</h3>
            <table>
            {% for fun in entity.functions %}
            <tr>
                <td><a href="{{fun.pure-name}}">{{fun.name}}</a></td>
                <td>{{fun.description}}</td>
            </tr>
            {% endfor %}
            </table>
          {% when 'class' %}
			<table>
			<tr><td>{% highlight c++ %}{{ entity.name }}{% endhighlight %}</td></tr>
			<tr class="page-includes"><td>Defined in &lt{{ entity.defined-in-header }}&gt</td></tr>
			<tr><td>{% highlight cpp %}{{ entity.declaration }}{% endhighlight %}</td></tr>
			<tr><td> {{entity.description | markdownify }}</td></tr>
			</table>
			<h3>Member functions</h3>
			<table>
			<tr>
				<td><a href="{{entity.pure-name}}/{{entity.pure-name}}">(constructor)</a></td>
				<td>constructs the {{entity.pure-name}} object</td>
			</tr>
			<tr>
				<td><a href="{{entity.pure-name}}/-{{entity.pure-name}}">(destructor)</a></td>
				<td>destructs the {{entity.pure-name}} object</td>
			</tr>
            {% for fun in entity.member-functions %}
			<tr>{% if fun.link %}
				<td><a href="{{entity.pure-name}}/{{fun.link}}">{{fun.name}}</a></td>
                {% else %}
                <td><a href="{{entity.pure-name}}/{{fun.name}}">{{fun.name}}</a></td>
                {% endif %}
				<td>{{fun.description}}</td>
			</tr>
			{% endfor %}
			</table>
			
        {% endcase %}
    {% endfor %}

    {{ content }}
  </article>
</div>

<!--
            {% highlight cpp %}{{ entity.declaration }}{% endhighlight %}
            <h3>Parameters</h3>
            {% for parameter in entity.parameters %}
                {% capture param %}`{{ parameter.name }}`: {{ parameter.description }}
                {% endcapture %}
                {{ param | markdownify }}
            {% endfor %}
            <h3>Preconditions</h3>
            {% for item in entity.preconditions %}
                {{ item | markdownify }}
            {% endfor %}
            <h3>Notes</h3>
            {% for item in entity.notes %}
                {{ item | markdownify }}
            {% endfor %}
            <h3>Return</h3>
            {{ entity.return | markdownify }}
-->
