---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {% for entity in page.entities %}
        {% case entity.kind %}
          {% when 'type-function' %}
            <h2>Type Function</h2>
            {% highlight cpp %}{{ entity.declaration }}{% endhighlight %}
            <h3>Parameters</h3>
            {% for parameter in entity.parameters %}
                {% capture param %}`{{ parameter.name }}`: {{ parameter.description }}
                {% endcapture %}
                {{ param | markdownify }}
            {% endfor %}
            <h3>Result</h3>
            {% capture result %}`{{ entity.result.name }}`: {{ entity.result.description }}
            {% endcapture %}
            {{ result | markdownify }}
            <h3>See</h3>
            {% for item in entity.see %}
                {% capture link %}[`{{ item }}`](#{{ item | replace: '_', '-' }}){% endcapture %}
                {{ link | markdownify }}
            {% endfor %}
          {% when 'free-functions' %}
            <h3>Non-member functions</h3>
            <table class="t-dsc-begin">
            {% for fun in entity.functions %}
            <tr class="t-dsc">
                <td>
                    <div class="t-dsc-member-div"><a href="{{fun.pure-name}}">{{fun.name}}</a></div>
                </td>
                <td>{{fun.description}}</td>
            </tr>
            {% endfor %}
            </table>
          {% when 'class' %}
			<table class="t-dsc-begin">
            <tr class="t-dsc-header">
                <td>
                    <div>Defined in header<a href="{{ entity.git-link }}"><code> &lt{{ entity.defined-in-header }}&gt</code></a></div>
                </td>
            </tr>
            <tr class="t-dcl">
                <td>
                    <div>{% highlight cpp %}{{ entity.declaration }}{% endhighlight %}</div>
                </td>
            </tr>
			<tr><td>{{entity.description | markdownify }}</td></tr>
			</table>
            {% if entity.member-types %}
                <h3>Member types</h3>
                <table class="t-dsc-begin">
                    {% for type in entity.member-types %}
                        <tr class="t-dsc">
                            <td>{{ type.type }}</td>
                            <td>{{ type.definition }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
			<h3>Member functions</h3>
			<table class="t-dsc-begin">
            <tbody>
			<tr class="t-dsc">
				<td> 
                    <div class="t-dsc-member-div">
                        <a href="{{entity.pure-name}}/{{entity.pure-name}}">(constructor)</a>
                    </div>
                </td>
				<td>constructs the {{entity.pure-name}} object</td>
			</tr>
			<tr class="t-dsc">
				<td>
                    <div class="t-dsc-member-div">
                        <a href="{{entity.pure-name}}/-{{entity.pure-name}}">(destructor)</a>
                    </div>
                </td>
				<td>destructs the {{entity.pure-name}} object</td>
			</tr>
            {% for fun in entity.member-functions %}
			<tr class="t-dsc">
                {% if fun.link %}
				<td><div class="t-dsc-member-div"><a href="{{entity.pure-name}}/{{fun.link}}">{{fun.name}}</a></div></td>
                {% else %}
                <td><div class="t-dsc-member-div"><a href="{{entity.pure-name}}/{{fun.name}}">{{fun.name}}</a></div></td>
                {% endif %}
				<td>{{fun.description}}</td>
			</tr>
			{% endfor %}
            </tbody>
			</table>
			
        {% endcase %}
    {% endfor %}

    {{ content }}
  </article>
</div>

