---
layout: default
---

<header class="post-header">
    <h1 class='code'>{{ page.title }}</h1>
</header>

<div class="post">
    <article class="post-content">
        {% include defined_in_header.html %}

        {% if page.declaration.first != empty %}
           <table class='declaration-table'>
            {% for item in page.declaration %}
            <tr>
              <td>
                {% highlight cpp %}{{ item }}{% endhighlight %}
               </td>
            </tr>
           {% endfor %}
           </table>
        {% else %}
            {% highlight c++ %}{{ page.declaration }}{% endhighlight %}
        {% endif %}

        {{page.brief | markdownify }}

        {{page.description | markdownify }}

        {% if page.member-types %}
            <h3>Member types</h3>
            <table class='definition-table'>
                <tr class='headers'>
                    <th>Member type</th>
                    <th colspan=2>Definition</th>
                </tr>
                {% for type in page.member-types %}
                    <tr>
                        <td><code>{{ type.type }}</code></td>
                        <td><code>{{ type.definition }}</code></td>
                        {% if type.note or type.annotation %}
                            <td>
                                {{ type.note }}
                                {% if type.annotation %}
                                <span class='annotation'>{{ type.annotation }}</span>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% include associated_methods.html %}

        {% include associated_functions.html %}

        {% include associated_classes.html %}

        {{ content }}

        {% include external_examples.html name=page.example header="Example" %}
    </article>
</div>

