<!DOCTYPE html>
<html>

  {% include head.html %}

  <body> 
    <noscript>
      <style>#site-wrapper { display: initial !important}</style>
    </noscript>
    <div id="site-wrapper" style="display: none">
      <div class="main-content">
        {% include header.html %}

        {% include top-bar.html %}

        <div class="page-content">
          <div class="wrapper">
            {{ content }}
          </div>
        </div>
      </div>

      {% include footer.html %}
    </div>
  </body>

</html>
