---
layout: default
---
<div class="post">
  <article class="post-content">
    {% for entity in page.entities %}
      {% case entity.kind %}
        {% when 'overloads' %}
          <header class="post-header">
            <h1 class='code'>{{ entity.name }}</h1>
          </header>
          {% if entity.defined-in-header %}
          <div>Defined in header <a href="{{ entity.git-link }}"><code>&lt{{ entity.defined-in-header }}&gt</code></a></div>
          {% endif %}

          <table class='declaration-table'>
          {% for item in entity.list %}
            <tr>
              <td>
                {% highlight c++ %}{{ item.declaration }}{% endhighlight %}
              </td>
              <td>({{ forloop.index }})</td>
            </tr>
          {% endfor %}
          </table>

          <ol>
            {% for item in entity.list %}
              <li>{{ item.description | markdownify }}</li>
            {% endfor %}
          </ol>

      {% when 'parameters'%}
        <h3>Parameters</h3>
        {% if entity.list %} 
          <table class='definition-table'>
          {% for item in entity.list %}
              <tr>
                <td class='decl'>{{ item.name }}</td>
                <td class='defn'>{{ item.description | markdownify }}</td>
              </tr>
          {% endfor %}
          </table>
        {% else %}
        {% endif %}
      {% when 'result'%}
        <h3>Return value</h3>
        {{ entity.description | markdownify }}
      {% when 'example'%}
        <h3>Example</h3>
        {{ entity.code }}
      {% else %}
      {% endcase %}
    {% endfor %}
    {{ content }}
  </article>
</div>


<!--
            {% highlight cpp %}{{ entity.declaration }}{% endhighlight %}
            <h3>Parameters</h3>
            {% for parameter in entity.parameters %}
                {% capture param %}`{{ parameter.name }}`: {{ parameter.description }}
                {% endcapture %}
                {{ param | markdownify }}
            {% endfor %}
            <h3>Preconditions</h3>
            {% for item in entity.preconditions %}
                {{ item | markdownify }}
            {% endfor %}
            <h3>Notes</h3>
            {% for item in entity.notes %}
                {{ item | markdownify }}
            {% endfor %}
            <h3>Return</h3>
            {{ entity.return | markdownify }}
-->
