---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="post-content">
    <h4>Functions</h3>
    {% for entity in page.entities %}
        <a name="{{ entity.name | replace: '_', '-' }}">{{ entity.name }}</a>
        <table>
            <tr>{% highlight c++ %}{{ entity.name }}{% endhighlight %}</tr>
            <tr>Defined in &lt{{entity.defined-in-header}}&gt</tr>
            <tr>{% highlight cpp %}{{ entity.declaration }}{% endhighlight %}</tr>
            <tr> {{entity.description | markdownify }}</tr>
        </table>
    {% endfor %}
  </article>
</div>

<!--
            {% highlight cpp %}{{ entity.declaration }}{% endhighlight %}
            <h3>Parameters</h3>
            {% for parameter in entity.parameters %}
                {% capture param %}`{{ parameter.name }}`: {{ parameter.description }}
                {% endcapture %}
                {{ param | markdownify }}
            {% endfor %}
            <h3>Preconditions</h3>
            {% for item in entity.preconditions %}
                {{ item | markdownify }}
            {% endfor %}
            <h3>Notes</h3>
            {% for item in entity.notes %}
                {{ item | markdownify }}
            {% endfor %}
            <h3>Return</h3>
            {{ entity.return | markdownify }}
-->
