---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.full-name}}</h1>
  </header>

  <article class="post-content">
    <!--div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr"-->
    {% for entity in page.entities %}
      {% case entity.kind %}
        {% when 'methods' %}
          <table class="t-dsc-begin">
            {% for item in entity.list %}
            <tr class="t-dsc">
              <td>
                <div class="t-dsc-member-div">{% highlight c++ %}{{ item.declaration }}{% endhighlight %}</div>
              </td>
              <td>({{ forloop.index }})</td>
            </tr>
            {% endfor %}
            </table>

            <p>{{ page.description }}</p>

            {% for item in entity.list %}
            <div class="t-li1">
              <span class="t-li">{{ forloop.index }})</span>{{ item.description }}
            </div>
            {% endfor %}
      {% when 'parameters'%}
        <h3>Parameters</h3>
        {% if entity.list %} 
          <table class="t-par-begin">
          {% for item in entity.list %}
              <tr class="t-par">
                <td>{{ item.name }}</td>
                <td> - </td>
                <td>{{ item.description }}</td>
              </tr>
          {% endfor %}
          </table>
        {% else %}
          <p>(none)</p>
        {% endif %}
      {% when 'result'%}
        <h3>Return value</h3>
        {% if entity.description %}
          {{ entity.description }} 
        {% else %}
          <p>(none)</p>
        {% endif %}    
      {% when 'utilitys'%}
        <h3>Utility classes</h3> 
        <table class="t-dsc-begin">
          {% for entry in entity.classes %}
            <tr class="t-dsc">
                <td>
                  <div class="t-dsc-member-div"><a href="{{entry.link}}">{{ entry.pure-name }}</a></div>
                </td>
                <td>
                    {{ entry.description }}
                </td>
            </tr>
          {% endfor %}
        </table>      
      {% else %}
      {% endcase %}
    {% endfor %}
    {{ content }}
    <!--/div-->
  </article>
</div>

