---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.full-name}}</h1>
  </header>

  <article class="post-content">
    {% for entity in page.entities %}
      {% case entity.kind %}
        {% when 'methods' %}
          <table class="t-dsc-begin">
            {% for item in entity.list %}
            <tr class="t-dsc">
              <td>
                <div class="t-dsc-member-div">{% highlight c++ %}{{ item.declaration }}{% endhighlight %}</div>
              </td>
              <td>({{ forloop.index }})</td>
            </tr>
            {% endfor %}
            </table>

            <p>{{ page.description }}</p>

            <table>
            {% for item in entity.list %}
            <tr>
              <td>{{ forloop.index }})</td>
              <td>{{ item.description }}</td>
            </tr>
            {% endfor %}
            </table>
      {% when 'parameters'%}
        <h3>Parameters</h3>
        <table class="t-par-begin">
        {% for item in entity.list %}
            <tr class="t-par">
              <td>{{ item.name }}</td>
              <td> - </td>
              <td>{{ item.description }}</td>
            </tr>
        {% endfor %}
        </table>
      {% when 'result'%}
        <h3>Return value</h3>
        {{ entity.description }}            
        {% else %}
      {% endcase %}
    {% endfor %}
    {{ content }}
  </article>
</div>

