---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="post-content">
  <table>
    <tr>{% highlight c++ %}{{ page.full-name }}{% endhighlight %}</tr>
      <tr>Defined in &lt{{page.defined-in-header}}&gt</tr>
    </table>
    {% for entity in page.entities %}
        {% case entity.kind %}
          {% when 'methods' %}
            <table>
            {% for item in entity.list %}
            <tr>
              <td style="float:right">{% highlight c++ %}{{ item.pure-name }}{% endhighlight %}</td>
              <td>{{ item.description }}</td>
            </tr>
            {% endfor %}
            </table>
        {% else %}
        {% endcase %}
    {% endfor %}
    {{ content }}
  </article>
</div>

